body {
	margin: 0 auto;
	width: 80%;
	max-width: 1020px;
	min-width: 640px;
	font-size: 1.3em;
}

article {
	width: 65%;
	float: left;
	margin-left: 2%;
	margin-right: 9%;
    border: 10px;
}

section{
	width: 20%;
	float: right;
	margin-right: 2%;
}

/* span.stars{
    font-size: 100%; 
    color: yellow;
} */

div.container{
    clear:both;
    justify-content: center;
}

p{
    line-height: 1.6;
}

aside{
    font-size: 0.8em;
}

img.icon-star-full {
	width: 20px;
	height: 20px;	
}

img.icon-star-half {
    width: 20px;
	height: 20px;
}



img#poster{
	height:315px;
	padding:20px;
	border: 0.5px solid lightgrey;
}



/* Stretching the footer to both ends of the web browser */
div.footer{
	position:absolute;
	text-align: center;
	left: 0;
  	right: 0;
	clear: both;
}




/* adjust card position since we now have 2 cards not 3 */
.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
	font-size: 1em;
  }

/* Reduce back the font size, since the css above has enlarged the size in the white cards */
div.card-white>h3, div.card-white>p{
	font-size:1em;
}
  
  
  @media (min-width: 300px) {
	.container {
	  width: 400px;
	}
	.cards {
	  grid-template-columns: 1fr;
	}
  }
  
  @media (min-width: 700px) {
	.container {
	  width: 600px;
	}
	.cards {
	  grid-template-columns: 1fr 1fr;
	}
  }
  
  @media (min-width: 1000px) {
	.container {
	  width: 900px;
	}
	.cards {
	  grid-template-columns: 1fr 1fr 1fr;
	}
  }
  