# packages in environment at C:\ProgramData\Anaconda3\envs\myclone:
#
# Name                    Version                   Build  Channel
absl-py                   0.12.0                   pypi_0    pypi
aio-pika                  6.8.1                    pypi_0    pypi
aiofiles                  0.8.0                    pypi_0    pypi
aiohttp                   3.8.1                    pypi_0    pypi
aioredis                  2.0.1                    pypi_0    pypi
aiormq                    3.3.1                    pypi_0    pypi
aiosignal                 1.2.0                    pypi_0    pypi
alembic                   1.4.1                    pypi_0    pypi
altair                    4.1.0                    pypi_0    pypi
anyascii                  0.1.7                    pypi_0    pypi
anyconfig                 0.10.0                   pypi_0    pypi
anyio                     2.2.0                    pypi_0    pypi
appdirs                   1.4.4                    pypi_0    pypi
apscheduler               3.8.1                    pypi_0    pypi
argon2-cffi               20.1.0                   pypi_0    pypi
arrow                     1.0.3                    pypi_0    pypi
asgiref                   3.3.4                    pypi_0    pypi
astor                     0.8.1                    pypi_0    pypi
astroid                   2.5.3                    pypi_0    pypi
astunparse                1.6.3                    pypi_0    pypi
async-generator           1.10                     pypi_0    pypi
async-timeout             4.0.2                    pypi_0    pypi
atomicwrites              1.4.0                    pypi_0    pypi
attrs                     19.3.0                   pypi_0    pypi
babel                     2.9.0                    pypi_0    pypi
backcall                  0.2.0                      py_0    anaconda
base58                    2.1.0                    pypi_0    pypi
beautifulsoup4            4.10.0                   pypi_0    pypi
bidict                    0.21.4                   pypi_0    pypi
binaryornot               0.4.4                    pypi_0    pypi
black                     20.8b1                   pypi_0    pypi
blas                      1.0                         mkl  
bleach                    3.3.0                    pypi_0    pypi
blinker                   1.4                      pypi_0    pypi
blis                      0.7.4                    pypi_0    pypi
bokeh                     2.0.2                    pypi_0    pypi
boto3                     1.20.39                  pypi_0    pypi
botocore                  1.23.39                  pypi_0    pypi
bs4                       4.11.1               hd3eb1b0_0  
ca-certificates           2022.4.26            haa95532_0  
cachecontrol              0.12.10                  pypi_0    pypi
cachetools                4.2.1                    pypi_0    pypi
captum                    0.3.0                    pypi_0    pypi
catalogue                 2.0.6                    pypi_0    pypi
certifi                   2022.5.18.1      py38haa95532_0  
cffi                      1.14.5                   pypi_0    pypi
chardet                   4.0.0                    pypi_0    pypi
charset-normalizer        2.0.10                   pypi_0    pypi
clang                     5.0                      pypi_0    pypi
click                     7.1.2                    pypi_0    pypi
cloudpickle               1.6.0                    pypi_0    pypi
colorama                  0.4.4                      py_0    anaconda
colorclass                2.2.2                    pypi_0    pypi
coloredlogs               15.0.1                   pypi_0    pypi
colorhash                 1.0.4                    pypi_0    pypi
confuse                   1.4.0                    pypi_0    pypi
contractions              0.0.48                   pypi_0    pypi
cookiecutter              1.7.2                    pypi_0    pypi
croniter                  1.2.0                    pypi_0    pypi
cryptography              3.4.7                    pypi_0    pypi
cycler                    0.10.0                   pypi_0    pypi
cymem                     2.0.5                    pypi_0    pypi
cython                    0.29.21                  pypi_0    pypi
databricks-cli            0.14.3                   pypi_0    pypi
decorator                 4.4.2                      py_0    anaconda
defusedxml                0.7.1                    pypi_0    pypi
django                    3.1.4                    pypi_0    pypi
dm-tree                   0.1.6                    pypi_0    pypi
dnspython                 1.16.0                   pypi_0    pypi
docker                    4.0.2                    pypi_0    pypi
docopt                    0.6.2                    pypi_0    pypi
dynaconf                  3.1.4                    pypi_0    pypi
dython                    0.6.1                    pypi_0    pypi
eli5                      0.10.1                   pypi_0    pypi
en-core-web-lg            3.2.0                    pypi_0    pypi
en-core-web-md            3.2.0                    pypi_0    pypi
en-core-web-sm            3.2.0                    pypi_0    pypi
entrypoints               0.3                      pypi_0    pypi
facets                    1.1.0                    pypi_0    pypi
fastapi                   0.63.0                   pypi_0    pypi
fbmessenger               6.0.0                    pypi_0    pypi
filelock                  3.0.12                   pypi_0    pypi
flask                     1.1.2                    pypi_0    pypi
flatbuffers               1.12                     pypi_0    pypi
frozenlist                1.3.0                    pypi_0    pypi
fsspec                    0.8.7                    pypi_0    pypi
future                    0.18.2                   pypi_0    pypi
gast                      0.3.3                    pypi_0    pypi
gensim                    4.0.0                    pypi_0    pypi
gitdb                     4.0.7                    pypi_0    pypi
gitpython                 3.1.14                   pypi_0    pypi
google-auth               1.28.1                   pypi_0    pypi
google-auth-oauthlib      0.4.4                    pypi_0    pypi
google-pasta              0.2.0                    pypi_0    pypi
graphviz                  2.38                 hfd603c8_2  
great-expectations        0.13.17                  pypi_0    pypi
greenlet                  1.1.2                    pypi_0    pypi
grpcio                    1.43.0                   pypi_0    pypi
h11                       0.9.0                    pypi_0    pypi
h5py                      3.1.0                    pypi_0    pypi
html5lib                  1.1                      pypi_0    pypi
htmlmin                   0.1.12                   pypi_0    pypi
httpcore                  0.11.1                   pypi_0    pypi
httptools                 0.3.0                    pypi_0    pypi
httpx                     0.15.4                   pypi_0    pypi
humanfriendly             10.0                     pypi_0    pypi
icc_rt                    2019.0.0             h0cc432a_1  
idna                      2.10                     pypi_0    pypi
imagehash                 4.2.0                    pypi_0    pypi
imbalanced-learn          0.7.0                    pypi_0    pypi
implicit                  0.4.4                    pypi_0    pypi
importlib-metadata        3.10.0                   pypi_0    pypi
iniconfig                 1.1.1                    pypi_0    pypi
intel-openmp              2021.4.0          haa95532_3556  
ipykernel                 5.3.4            py38h5ca1d4c_0    anaconda
ipython                   7.16.1                   pypi_0    pypi
ipython-genutils          0.2.0                    pypi_0    pypi
ipython_genutils          0.2.0                    py38_0    anaconda
ipywidgets                7.5.1                    pypi_0    pypi
isodate                   0.6.1                    pypi_0    pypi
isort                     5.8.0                    pypi_0    pypi
itsdangerous              1.1.0                    pypi_0    pypi
jedi                      0.18.0           py38haa95532_1  
jinja2                    2.11.3                   pypi_0    pypi
jinja2-time               0.2.0                    pypi_0    pypi
jmespath                  0.10.0                   pypi_0    pypi
joblib                    1.0.1                    pypi_0    pypi
json5                     0.9.5                    pypi_0    pypi
jsonpatch                 1.32                     pypi_0    pypi
jsonpath-ng               1.5.2                    pypi_0    pypi
jsonpickle                2.0.0                    pypi_0    pypi
jsonpointer               2.1                      pypi_0    pypi
jsonschema                3.2.0                    pypi_0    pypi
jupyter                   1.0.0                    pypi_0    pypi
jupyter-console           6.2.0                    pypi_0    pypi
jupyter-core              4.7.0                    pypi_0    pypi
jupyter-packaging         0.7.12                   pypi_0    pypi
jupyter-server            1.6.0                    pypi_0    pypi
jupyter_client            6.1.7                      py_0    anaconda
jupyter_core              4.6.3                    py38_0    anaconda
jupyterlab                3.0.13                   pypi_0    pypi
jupyterlab-pygments       0.1.2                    pypi_0    pypi
jupyterlab-server         2.4.0                    pypi_0    pypi
jupyterlab-widgets        1.0.0                    pypi_0    pypi
kafka-python              2.0.2                    pypi_0    pypi
kedro                     0.17.2                   pypi_0    pypi
keras                     2.6.0                    pypi_0    pypi
keras-preprocessing       1.1.2                    pypi_0    pypi
kiwisolver                1.3.1                    pypi_0    pypi
kneed                     0.7.0                    pypi_0    pypi
langcodes                 3.3.0                    pypi_0    pypi
langdetect                1.0.7                    pypi_0    pypi
lazy-object-proxy         1.6.0                    pypi_0    pypi
libsodium                 1.0.18               h62dcd97_0    anaconda
lxml                      4.7.1                    pypi_0    pypi
mako                      1.1.4                    pypi_0    pypi
markdown                  3.3.3                    pypi_0    pypi
markupsafe                1.1.1                    pypi_0    pypi
matplotlib                3.3.4                    pypi_0    pypi
mattermostwrapper         2.2                      pypi_0    pypi
mccabe                    0.6.1                    pypi_0    pypi
missingno                 0.4.2                    pypi_0    pypi
mistune                   0.8.4                    pypi_0    pypi
mkl                       2021.4.0           haa95532_640  
mkl-service               2.4.0            py38h2bbff1b_0  
mkl_fft                   1.3.1            py38h277e83a_0  
mkl_random                1.2.2            py38hf11a4ad_0  
mlflow                    1.15.0                   pypi_0    pypi
msgpack                   1.0.3                    pypi_0    pypi
multidict                 5.2.0                    pypi_0    pypi
murmurhash                1.0.5                    pypi_0    pypi
mypy-extensions           0.4.3                    pypi_0    pypi
nbclassic                 0.2.7                    pypi_0    pypi
nbclient                  0.5.3                    pypi_0    pypi
nbconvert                 6.0.7                    pypi_0    pypi
nbformat                  5.1.3                    pypi_0    pypi
nest-asyncio              1.5.1                    pypi_0    pypi
networkx                  2.5.1                    pypi_0    pypi
nltk                      3.5                      pypi_0    pypi
notebook                  6.3.0                    pypi_0    pypi
numpy                     1.19.5                   pypi_0    pypi
numpy-base                1.21.2           py38h0829f74_0  
oauthlib                  3.1.0                    pypi_0    pypi
omegaconf                 2.0.6                    pypi_0    pypi
opencv-python             4.5.1.48                 pypi_0    pypi
openssl                   1.1.1o               h2bbff1b_0  
opt-einsum                3.3.0                    pypi_0    pypi
packaging                 20.9                     pypi_0    pypi
pamqp                     2.3.0                    pypi_0    pypi
pandas                    1.3.5                    pypi_0    pypi
pandas-profiling          2.9.0                    pypi_0    pypi
pandocfilters             1.4.3                    pypi_0    pypi
parso                     0.8.2                    pypi_0    pypi
pathspec                  0.8.1                    pypi_0    pypi
pathy                     0.4.0                    pypi_0    pypi
pdfminer-six              20201018                 pypi_0    pypi
phik                      0.11.2                   pypi_0    pypi
pickleshare               0.7.5                 py38_1000    anaconda
pika                      1.2.0                    pypi_0    pypi
pillow                    8.4.0                    pypi_0    pypi
pip                       21.3.1                   pypi_0    pypi
pip-tools                 5.5.0                    pypi_0    pypi
pluggy                    0.13.1                   pypi_0    pypi
ply                       3.11                     pypi_0    pypi
poyo                      0.5.0                    pypi_0    pypi
ppscore                   1.2.0                    pypi_0    pypi
preshed                   3.0.5                    pypi_0    pypi
prince                    0.7.1                    pypi_0    pypi
prometheus-client         0.10.1                   pypi_0    pypi
prometheus-flask-exporter 0.18.1                   pypi_0    pypi
prompt-toolkit            2.0.10                   pypi_0    pypi
protobuf                  3.15.8                   pypi_0    pypi
psycopg2-binary           2.9.3                    pypi_0    pypi
py                        1.10.0                   pypi_0    pypi
pyahocorasick             1.4.2                    pypi_0    pypi
pyarrow                   3.0.0                    pypi_0    pypi
pyasn1                    0.4.8                    pypi_0    pypi
pyasn1-modules            0.2.8                    pypi_0    pypi
pycparser                 2.20                     pypi_0    pypi
pydantic                  1.8.2                    pypi_0    pypi
pydeck                    0.6.1                    pypi_0    pypi
pydot                     1.4.2                    pypi_0    pypi
pygments                  2.8.1                    pypi_0    pypi
pyjwt                     2.0.0                    pypi_0    pypi
pykwalify                 1.8.0                    pypi_0    pypi
pylint                    2.7.4                    pypi_0    pypi
pymongo                   3.10.1                   pypi_0    pypi
pyparsing                 2.4.7                    pypi_0    pypi
pypdf2                    1.26.0                   pypi_0    pypi
pypiwin32                 223                      pypi_0    pypi
pyreadline3               3.3                      pypi_0    pypi
pyrsistent                0.17.3                   pypi_0    pypi
pytelegrambotapi          3.8.3                    pypi_0    pypi
pytest                    6.1.2                    pypi_0    pypi
python                    3.8.8                hdbf39b2_5  
python-crfsuite           0.9.7                    pypi_0    pypi
python-dateutil           2.8.2              pyhd3eb1b0_0  
python-editor             1.0.4                    pypi_0    pypi
python-engineio           4.3.1                    pypi_0    pypi
python-graphviz           0.16               pyhd3eb1b0_1  
python-json-logger        0.1.11                   pypi_0    pypi
python-slugify            4.0.1                    pypi_0    pypi
python-socketio           5.5.1                    pypi_0    pypi
python3-saml              1.12.0                   pypi_0    pypi
pytz                      2021.3                   pypi_0    pypi
pywavelets                1.1.1                    pypi_0    pypi
pywin32                   300                      pypi_0    pypi
pywinpty                  0.5.7                    pypi_0    pypi
pyyaml                    5.4.1                    pypi_0    pypi
pyzmq                     22.0.3                   pypi_0    pypi
qtconsole                 5.0.3                    pypi_0    pypi
qtpy                      1.9.0                    pypi_0    pypi
querystring-parser        1.2.4                    pypi_0    pypi
questionary               1.5.2                    pypi_0    pypi
rasa                      2.8.22                   pypi_0    pypi
rasa-sdk                  2.8.4                    pypi_0    pypi
rasa-x                    1.0.1                    pypi_0    pypi
redis                     3.5.3                    pypi_0    pypi
regex                     2021.4.4                 pypi_0    pypi
requests                  2.25.1                   pypi_0    pypi
requests-oauthlib         1.3.0                    pypi_0    pypi
requests-toolbelt         0.9.1                    pypi_0    pypi
rfc3986                   1.5.0                    pypi_0    pypi
rocketchat-api            1.16.0                   pypi_0    pypi
rsa                       4.6                      pypi_0    pypi
ruamel-yaml               0.16.13                  pypi_0    pypi
ruamel-yaml-clib          0.2.2                    pypi_0    pypi
s3transfer                0.5.0                    pypi_0    pypi
sacremoses                0.0.44                   pypi_0    pypi
sanic                     20.9.1                   pypi_0    pypi
sanic-cors                0.10.0.post3             pypi_0    pypi
sanic-jwt                 1.6.0                    pypi_0    pypi
sanic-plugins-framework   0.9.5                    pypi_0    pypi
scikit-learn              0.24.2                   pypi_0    pypi
scikit-surprise           1.1.1                    pypi_0    pypi
scipy                     1.7.1            py38hbe87c03_2  
seaborn                   0.11.0                   pypi_0    pypi
send2trash                1.5.0                    pypi_0    pypi
sentry-sdk                1.3.1                    pypi_0    pypi
setuptools                60.5.0                   pypi_0    pypi
six                       1.15.0                   pypi_0    pypi
sklearn-crfsuite          0.3.6                    pypi_0    pypi
slackclient               2.9.3                    pypi_0    pypi
smart-open                3.0.0                    pypi_0    pypi
smmap                     4.0.0                    pypi_0    pypi
sniffio                   1.2.0                    pypi_0    pypi
sortedcontainers          2.3.0                    pypi_0    pypi
soupsieve                 2.3.1              pyhd3eb1b0_0  
spacy                     3.2.1                    pypi_0    pypi
spacy-legacy              3.0.8                    pypi_0    pypi
spacy-loggers             1.0.1                    pypi_0    pypi
sqlalchemy                1.4.30                   pypi_0    pypi
sqlite                    3.35.4               h2bbff1b_0  
sqlparse                  0.4.1                    pypi_0    pypi
srsly                     2.4.2                    pypi_0    pypi
starlette                 0.13.6                   pypi_0    pypi
streamlit                 0.79.0                   pypi_0    pypi
tabulate                  0.8.2                    pypi_0    pypi
tangled-up-in-unicode     0.0.7                    pypi_0    pypi
tarsafe                   0.0.3                    pypi_0    pypi
tensorboard               2.6.0                    pypi_0    pypi
tensorboard-data-server   0.6.1                    pypi_0    pypi
tensorboard-plugin-wit    1.7.0                    pypi_0    pypi
tensorflow                2.6.2                    pypi_0    pypi
tensorflow-addons         0.14.0                   pypi_0    pypi
tensorflow-estimator      2.6.0                    pypi_0    pypi
tensorflow-hub            0.12.0                   pypi_0    pypi
tensorflow-probability    0.13.0                   pypi_0    pypi
termcolor                 1.1.0                    pypi_0    pypi
terminado                 0.9.4                    pypi_0    pypi
terminaltables            3.1.10                   pypi_0    pypi
testpath                  0.4.4                    pypi_0    pypi
text-unidecode            1.3                      pypi_0    pypi
textsearch                0.0.21                   pypi_0    pypi
thinc                     8.0.13                   pypi_0    pypi
threadpoolctl             3.0.0                    pypi_0    pypi
timm                      0.3.4                    pypi_0    pypi
tokenizers                0.10.2                   pypi_0    pypi
toml                      0.10.2                   pypi_0    pypi
toolz                     0.11.1                   pypi_0    pypi
toposort                  1.6                      pypi_0    pypi
torch                     1.8.0                    pypi_0    pypi
torchvision               0.9.0                    pypi_0    pypi
tornado                   6.1                      pypi_0    pypi
tqdm                      4.60.0                   pypi_0    pypi
traitlets                 5.0.5                      py_0    anaconda
transformers              4.4.2                    pypi_0    pypi
twilio                    6.50.1                   pypi_0    pypi
typed-ast                 1.4.3                    pypi_0    pypi
typeguard                 2.13.3                   pypi_0    pypi
typer                     0.3.2                    pypi_0    pypi
typing-extensions         3.7.4.3                  pypi_0    pypi
tzlocal                   2.1                      pypi_0    pypi
ujson                     1.35                     pypi_0    pypi
unidecode                 1.2.0                    pypi_0    pypi
urllib3                   1.26.8                   pypi_0    pypi
validators                0.18.2                   pypi_0    pypi
vc                        14.2                 h21ff451_1  
visions                   0.5.0                    pypi_0    pypi
vs2015_runtime            14.27.29016          h5e58377_2  
waitress                  2.0.0                    pypi_0    pypi
wasabi                    0.8.2                    pypi_0    pypi
watchdog                  2.0.2                    pypi_0    pypi
watermark                 2.2.0                    pypi_0    pypi
wcwidth                   0.2.5                      py_0    anaconda
webencodings              0.5.1                    pypi_0    pypi
webexteamssdk             1.6                      pypi_0    pypi
websocket-client          0.58.0                   pypi_0    pypi
websockets                8.1                      pypi_0    pypi
werkzeug                  1.0.1                    pypi_0    pypi
wheel                     0.37.1                   pypi_0    pypi
widgetsnbextension        3.5.1                    pypi_0    pypi
wincertstore              0.2                      py38_0  
wordcloud                 1.8.1                    pypi_0    pypi
wordninja                 2.0.0                    pypi_0    pypi
wrapt                     1.12.1                   pypi_0    pypi
xgboost                   1.3.3                    pypi_0    pypi
xmlsec                    1.3.12                   pypi_0    pypi
yarl                      1.7.2                    pypi_0    pypi
yellowbrick               1.3.post1                pypi_0    pypi
zeromq                    4.3.2                ha925a31_3    anaconda
zipp                      3.4.1                    pypi_0    pypi
